<div class="pairing">
  <h2>You Should Try This Combo!</h2>
  <h3>Restaurant</h3>
  restaurant will go here
  <h3>Music</h3>
  <%= @music.type %>: <%= @music.name %>
  <%= image_tag @music.image %>
</div>
