<h2>Find A Suggestion</h2>
<%= form_tag(suggestions_path, method: :get) do %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search" %>
<% end %>

<% if params[:query] %>
  <%= render "suggestion" %>
<% end %>
